body{
     background: #000; 
     background: #efdfdf;
}
.container{
    width: 720px;
    margin: 0 auto;
    background: #fff;
   
}
.header{
padding: 45px 0 20px 40px;
 border: 2px solid black;
}

.class{
    padding: 6px 0px 6px 44px;
    background: #a3dbeb;
}
.class a{
color: #574c41;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: none;
font-size: 18px;
}

.class a:hover {
    color: #fff;
}
aside {
    float: left;
    width: 140px;
    padding: 20px 0px 0px 30px;
}

h1 {
    color: burlywood;
    margin: 0px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
h2 {
    color: #574c41;
    font-size: 14px;
    padding: 20px 0 5px 0;
}

.main {
    margin: 0 0 0 180px;
    color: #383131;
    font-family: "geogia";
    font-size: 17px;
    line-height: 18px;
    text-emphasis: justify;
    padding: 35px 40px 30px 0;
}
